<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td {
  border: 1px solid black;
}
    </style>
</head>
<body>
<h2 style="margin:auto;" align="center">Finish Ur Work</h2>
    <div th:if="${not #lists.isEmpty(studentFileList)}" >
        <table  align="center" >
            <tr>
                <th>Id</th>
                <th>Assignment</th>
                <th>Answer</th>

            </tr>
            <tr th:each="count : ${studentFileList}">
                <td th:text="${count.id}" aria-readonly="true"></td>
                <td th:text="${count.comment}" aria-readonly="true"></td>
                <td th:text="${count.answer}" aria-readonly="true"></td>


            </tr>
        </table>
    </div>
</body>
</html>